/* HTML5 Boilerplate  What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
html, button, input, select, textarea { color: #222; }

body { font-size: 1em; line-height: 1.4; }

a { color: #00e; }

a:visited { color: #551a8b; }

a:hover { color: #06e; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

:focus { outline: none; }

/* ========================================================================== Author's custom styles ========================================================================== */
/* ========================================================================== Helper classes ========================================================================== */
/* Prevent callout */
.nocallout { -webkit-touch-callout: none; }

.pressed { background-color: rgba(0, 0, 0, 0.7); }

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] { -webkit-appearance: none; }

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden { position: absolute; left: -100%; }

/* Image replacement */
.ir { background-color: transparent; background-repeat: no-repeat; border: 0; direction: ltr; display: block; overflow: hidden; text-align: left; text-indent: -999em; }

.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/** Clearfix helper Used to contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

/* For IE 6/7 only Include this rule to trigger hasLayout and contain floats. */
.clearfix { *zoom: 1; }

/* ========================================================================== EXAMPLE Media Queries for Responsive Design. Theses examples override the primary ('mobile first') styles. Modify as content requires. ========================================================================== */
@media only screen and (min-width: 800px) { /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) { /* Style adjustments for viewports that meet the condition */ }
/*    Animations         */
.moveToTop { -webkit-animation: moveToTop .6s ease both; -moz-animation: moveToTop .6s ease both; animation: moveToTop .6s ease both; }

.moveFromTop { -webkit-animation: moveFromTop .6s ease both; -moz-animation: moveFromTop .6s ease both; animation: moveFromTop .6s ease both; }

.moveToBottom { -webkit-animation: moveToBottom .6s ease both; -moz-animation: moveToBottom .6s ease both; animation: moveToBottom .6s ease both; }

.moveFromBottom { -webkit-animation: moveFromBottom .6s ease both; -moz-animation: moveFromBottom .6s ease both; animation: moveFromBottom .6s ease both; }

@-webkit-keyframes moveToTop { to { -webkit-transform: translateY(-100%); } }

@-moz-keyframes moveToTop { to { -moz-transform: translateY(-100%); } }

@keyframes moveToTop { to { transform: translateY(-100%); } }

@-webkit-keyframes moveToBottom { to { -webkit-transform: translateY(100%); } }

@-moz-keyframes moveToBottom { to { -moz-transform: translateY(100%); } }

@keyframes moveToBottom { to { transform: translateY(100%); } }

@-webkit-keyframes moveFromTop { from { -webkit-transform: translateY(-100%); } }

@-moz-keyframes moveFromTop { from { -moz-transform: translateY(-100%); } }

@keyframes moveFromTop { from { transform: translateY(-100%); } }

@-webkit-keyframes moveFromBottom { from { -webkit-transform: translateY(100%); } }

@-moz-keyframes moveFromBottom { from { -moz-transform: translateY(100%); } }

@keyframes moveFromBottom { from { transform: translateY(100%); } }

.moveToLeft { -webkit-animation: moveToLeft .6s ease both; -moz-animation: moveToLeft .6s ease both; animation: moveToLeft .6s ease both; }

.moveFromLeft { -webkit-animation: moveFromLeft .6s ease both; -moz-animation: moveFromLeft .6s ease both; animation: moveFromLeft .6s ease both; }

.moveToRight { -webkit-animation: moveToRight .6s ease both; -moz-animation: moveToRight .6s ease both; animation: moveToRight .6s ease both; }

.moveFromRight { -webkit-animation: moveFromRight .6s ease both; -moz-animation: moveFromRight .6s ease both; animation: moveFromRight .6s ease both; }

@-webkit-keyframes moveToLeft { to { -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveToLeft { to { -moz-transform: translateX(-100%); } }

@keyframes moveToLeft { to { transform: translateX(-100%); } }

@-webkit-keyframes moveFromLeft { from { -webkit-transform: translateX(-100%); } }

@-moz-keyframes moveFromLeft { from { -moz-transform: translateX(-100%); } }

@keyframes moveFromLeft { from { transform: translateX(-100%); } }

@-webkit-keyframes moveToRight { to { -webkit-transform: translateX(100%); } }

@-moz-keyframes moveToRight { to { -moz-transform: translateX(100%); } }

@keyframes moveToRight { to { transform: translateX(100%); } }

@-webkit-keyframes moveFromRight { from { -webkit-transform: translateX(100%); } }

@-moz-keyframes moveFromRight { from { -moz-transform: translateX(100%); } }

@keyframes moveFromRight { from { transform: translateX(100%); } }

/* Colors */
/* Image retina  */
/*  General  */
body { background: url(../img/bg_connexion.jpg) no-repeat 0 0; background-image: url("../img/bg_connexion.jpg"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { body { background-image: url("../img/bg_connexion@2x.jpg"); -webkit-background-size: 320px auto; } }

section.wrapper { width: 100%; box-sizing: border-box; width: 320px; height: 568px; display: block; overflow: hidden; position: absolute; margin-top: 0; left: 0; border: 1px solid #787878; }

.page { width: 100%; height: 100%; position: absolute; top: 0; }

.page-active { right: 0; left: 0; }

.page-next { right: 100%; }

.page-prev { left: 100%; }

header { width: 320px; height: 35px; background: #fff; position: absolute; top: 0px; }

header:after { content: ""; background: url(../img/ombre_top.png) repeat-x 0 0 transparent; display: block; width: 320px; height: 14px; top: 35px; position: absolute; }

footer { width: 320px; height: 42px; line-height: 42px; background: #fff; position: absolute; bottom: 0; left: 0; text-align: center; color: #787878; }

footer:before { content: ""; background: url(../img/ombre_bottom.png) repeat-x 0 bottom transparent; display: block; width: 100%; height: 26px; top: -26px; position: absolute; }

.overlay { display: none; width: 100%; height: 100% !important; background: #787878; z-index: 100; position: absolute; top: 0; height: 0; }

.blur { display: none; width: 100%; height: 100% !important; background: #787878; z-index: 96; position: absolute; top: 0; height: 0; -webkit-filter: blur(10px); filter: blur(10px); }

/*    Typo */
.connexion { margin-top: 110px; }

.mot_de_passe { margin-top: 78px; }

p { color: #004d92; font-size: 20px; font: 17px/21px -apple-system-font; }

/*  Content  */
section.content { padding: 0 21px; }

/*  Input identifiant */
.fake_input { width: 100%; box-sizing: border-box; height: 33px; background: rgba(218, 214, 204, 0.7); border: none; position: relative; border-radius: 4px; }

button { border: none; }

.fake_input input[type=number], .fake_input input[type=password] { width: 85%; background: none; border: none; font-size: 16px; height: 33px; line-height: 33px; padding: 0 6px; position: relative; color: #004d92; }

::-webkit-input-placeholder { color: #787878; }

.fake_input > .btn_help { position: absolute; top: 4px; right: 4px; display: block; width: 23px; height: 23px; background: url(../img/help.png) no-repeat 0 0; background-image: url("../img/help.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { .fake_input > .btn_help { background-image: url("../img/help@2x.png"); -webkit-background-size: 23px 23px; } }

/*  Boutons  */
.btn_zone { position: absolute; bottom: 100px; width: 276px; }

button.btn_submit, button.btn_erase { width: 100%; box-sizing: border-box; background: rgba(255, 255, 255, 0.4); text-align: left; font-size: 16px; padding: 0px 6px; position: relative; height: 50px; line-height: 50px; }

/*  Grid2 : width: 50%;   */
button.btn_submit.grid2, button.btn_erase.grid2 { width: 48%; float: left; }

.grid2:first-child { margin-right: 4%; }

button.btn_submit { border: 1px solid rgba(0, 77, 146, 0.8); color: #004d92; }

button.btn_submit > .submit { display: block; width: 44px; height: 44px; background: url(../img/submit.png) no-repeat 50% 50%; position: absolute; right: 2px; top: 2px; background-image: url("../img/submit.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { button.btn_submit > .submit { background-image: url("../img/submit@2x.png"); -webkit-background-size: 39px 40px; } }

button.btn_erase { border: 1px solid rgba(120, 120, 120, 0.8); color: #787878; }

button.btn_erase > .erase { display: block; width: 44px; height: 44px; background: url(../img/erase.png) no-repeat 50% 50%; position: absolute; right: 2px; top: 2px; background-image: url("../img/erase.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { button.btn_erase > .erase { background-image: url("../img/erase@2x.png"); -webkit-background-size: 39px 40px; } }

header button.btn_close { display: block; width: 44px; height: 37px; background: url(../img/close_blue.png) no-repeat 5px 50%; position: absolute; left: 0px; top: 0px; background-image: url("../img/close_blue.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { header button.btn_close { background-image: url("../img/close_blue@2x.png"); -webkit-background-size: 15px 15px; } }

header button.btn_back { display: block; width: 44px; height: 37px; background: url(../img/back.png) no-repeat 5px 50%; position: absolute; left: 0px; top: 0px; background-image: url("../img/back.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { header button.btn_back { background-image: url("../img/back@2x.png"); -webkit-background-size: 7px 13px; } }

/*  Clavier virtuel  */
.clavier_virtuel { display: block; width: 277px; height: 208px; margin-top: 10px; }

.clavier_virtuel img { max-width: 100%; cursor: pointer; }

/*  Help  */
.aide { display: block; position: absolute; bottom: -100%; background: #fff; color: #ef263a; z-index: 150; height: 70%; }

.aide.on, .aide.off { position: absolute; bottom: 0; }

.aide header { width: 100%; box-sizing: border-box; text-align: center; position: relative; height: auto; padding: 12px 0; border-bottom: 1px solid #e5e5e5; }

.aide header:after { content: ""; background: url(../img/ombre_bottom.png) repeat-x 0 bottom transparent; display: block; width: 100%; height: 26px; top: -26px; position: absolute; }

.aide section { padding: 33px; }

.aide p { color: #272727; font-size: 14px; }

.aide a { color: #ef263a; font-weight: 14px; text-decoration: none; }

.aide .btn_close { display: block; position: absolute; left: 0px; top: 0px; width: 44px; height: 44px; background: url(../img/close_red.png) no-repeat 50% 50%; background-image: url("../img/close_red.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { .aide .btn_close { background-image: url("../img/close_red@2x.png"); -webkit-background-size: 13px 13px; } }

/*  Error  */
.error { display: block; position: absolute; top: -100%; background: rgba(239, 38, 58, 0.8); color: #fff; width: 100%; box-sizing: border-box; padding: 21px; font-size: 14px; z-index: 200; }

.error.on, .error.off { top: 0; }

.error .btn_close { display: block; position: absolute; top: -10px; left: -10px; width: 44px; height: 44px; background: url(../img/close_white.png) no-repeat 50% 50%; background-image: url("../img/close_white.png"); }
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) { .error .btn_close { background-image: url("../img/close_white@2x.png"); -webkit-background-size: 16px 16px; } }

/**********  Medias queries  ************/
@media only screen and (min-width: 320px) { /*  Hauteur Wrapper Iphone 3,4,4S !important */
  section.wrapper { height: 480px; }
  /* Position texte   */
  .connexion { margin-top: 110px; }
  .mot_de_passe { margin-top: 48px; }
  /* Position boutons   */
  .connexion .btn_zone { bottom: 120px; }
  .mot_de_passe .btn_zone { bottom: 56px; } }
/* Retina */
@media (-webkit-min-device-pixel-ratio: 2) { body { background-size: cover; } }
/* Iphone 5 */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) { /*  Hauteur Wrapper Iphone 5 !important */
  section.wrapper { height: 568px; }
  /* Position texte   */
  .connexion { margin-top: 110px; }
  .mot_de_passe { margin-top: 78px; }
  /* Position boutons   */
  .connexion .btn_zone { bottom: 120px; }
  .mot_de_passe .btn_zone { bottom: 90px; } }
